// enable some features
$enable-shadows:            true !default;
$enable-gradients:          true !default;

html {
  min-height: 100%;
  background-image: url("/images/bg.png");
  background-size: cover;
}

.user-l {
  padding-right: 6px;
}

.user-r {
  padding-left: 6px;
}

.user-l > img, .user-r > img {
  width: 150px;
}

.redes > ul li {
  a {
    width: 42px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 10em;
    border: #EEE 1px solid;
  }
  span {
    color: #CCC;
    font-size: 18px;
  }
}

.work-block {
  height: 200px;
  width: 200px;
  transition: all .3s ease-out;
  &:hover {
    border-radius: 100px !important;
  }
}
.dropdown-item {
  &.active, &:active {
    color: #fff;
    text-decoration: none;
    background: #c82333 -webkit-gradient(linear, left top, left bottom, from(#d04451), to(#c82333)) repeat-x !important;
    background: #c82333 linear-gradient(180deg, #d04451, #c82333) repeat-x !important;
  }
}