$LogoTextSize: 14px;
$LogoColor: white;
$NavbarColor: #2cb6f6;
$ActiveColor: #060614;
$ItemColor: white;
$BorderColor: #33a1bd;
$BorderThickness: 3px;
$InputColor: white;
$ButtonBorderCollor: -webkit-gradient(linear, left top, right top,color-stop(0%,rgb(58,177,171)),color-stop(100%,rgb(37,116,152)));
$HelloFontSize: 40px;
$WelcomeWidth: 400px;
$WelcomeMargineTop: 320px;
$ContentFontSize: 16px;
$AboutBackgroundColor: #141717;